<div class="sidenav-header">
    <img src="../../../../assets/profile.jpg" [width]="profilePicSize()" [height]="profilePicSize()">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Welcome</h2>
        <p>{{userName}}</p>
    </div>
</div>
<mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()"
    [routerLink]="item.route" class="menu-items"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
    </a>
</mat-nav-list>