/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


@include mat.core();
@import './assets/css/custom';

$my-primary: mat.define-palette(mat.$orange-palette, 600);
$my-accent: mat.define-palette(mat.$light-blue-palette, A400);

// The warn palette is optional (defaults to red).
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme-dark: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    )
));


@include mat.all-component-themes($my-theme-dark);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030; color: #fff;}
