.action {
    padding: 0px 25px 20px;
    display: flex;
    justify-content: end;
}

mat-form-field {
    width: 100%;
}

mat-error {
    font-size: 12px;
    margin-left: -15px;
}

.header {
    text-align: center;
    text-transform: uppercase;
}

